body {
    font-family: var(--body-text);
    margin: 0 auto;
    max-width: 48rem;
    margin-top: 48px;

}

p {
    line-height: 1.75;
    max-width: 48rem;
    margin-bottom: 16px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 24px;
}

strong {
        background-image: linear-gradient(to right, hsl(229, 51%, 49%), hsl(234, 77%, 36%));
        background-clip: text;
        color: transparent;
        
}

.super {
    font-size: 1.25rem;
    font-weight: ;
}


